<img src = "https://escp.eu/sites/default/files/logo/ESCP-logo-white-misalign.svg" width = 400 style="background-color: #240085;">
<h1 align=center><font size = 6>ESCP Business School</font></h1>
<h3 align=center><font size = 5>ESCP Hackathon</font><br/>
<font size = 3>Project 3: Brand sentiment analysis | Criteo</font></h3>
<h6 align=center>Chapter 2: Prepocess for Analysis - WordCount</h6>

Last Updated: March 17, 2021\
Author: Group 07 - Arya Bhattacharya, Hanadi Yachoui, Ming Hin Chung, Resha Dirga

<h3>Chapter Objectives</h3>

<p>This chapter aims to prepare the dataset for wordcount before using it in Tableau.</p>

In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

from wordcloud import WordCloud, STOPWORDS
import folium
from collections import Counter

In [2]:
# Read dataset for wordcount
df = pd.read_csv('tweets_analysed_cons.csv')
df_cluster = pd.read_csv('users_clustered.csv')
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,id,created_at,in_reply_to_user_id,author_id,text,mentions,source,lang,text_clean,Sentiment,Positive_sentiment,Negative_sentiment
0,0,0,0,1503882954375929866,Tue Mar 15 23:56:51 +0000 2022,NaN,612834201,RT @WrocWW: @AnonOpsSE I found few words to #L...,"['WrocWW', 'AnonOpsSE']",Twitter Web App,en,@WrocWW: @AnonOpsSE I found few words to #Lero...,negative,0.009751,0.990249
1,1,1,0,1503882686380879877,Tue Mar 15 23:55:47 +0000 2022,NaN,612834201,"RT @Ro_manoff: @tashecon Also, please pay atte...","['Ro_manoff', 'tashecon']",Twitter Web App,en,"@Ro_manoff: @tashecon Also, please pay attenti...",positive,0.979445,0.020555
2,2,2,0,1503881899328032771,Tue Mar 15 23:52:40 +0000 2022,NaN,4174651769,RT @NoButYeahBut_: #BoycottDecathlon!!!\n#Deca...,['NoButYeahBut_'],Twitter for Android,en,@NoButYeahBut_: #BoycottDecathlon!!!\n#Decathl...,negative,0.011850,0.988150
3,3,3,0,1503880374874607620,Tue Mar 15 23:46:36 +0000 2022,126267113.0,51585491,@Decathlon @DecathlonUK why are you still doin...,"['Decathlon', 'DecathlonUK']",Twitter for iPhone,en,@Decathlon @DecathlonUK why are you still doin...,negative,0.009619,0.990381
4,4,4,0,1503880275318775809,Tue Mar 15 23:46:13 +0000 2022,NaN,4174651769,"RT @TrudeauMaggie: Auchan, Leroy Merlin, Decat...",['TrudeauMaggie'],Twitter for Android,en,"@TrudeauMaggie: Auchan, Leroy Merlin, Decathlo...",negative,0.088386,0.911614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569,69,3569,0,1499543192596725760,Fri Mar 04 00:32:11 +0000 2022,NaN,360737613,RT @BoosterVista: Kudos to the MVHS Academic D...,['BoosterVista'],Twitter for iPhone,en,@BoosterVista: Kudos to the MVHS Academic Deca...,positive,0.953905,0.046095
3570,70,3570,0,1499541366673747971,Fri Mar 04 00:24:56 +0000 2022,NaN,3316370737,"RT @jwilliams_mhs: As a team, MHS Academic Dec...",['jwilliams_mhs'],Twitter for iPhone,en,"@jwilliams_mhs: As a team, MHS Academic Decath...",positive,0.986559,0.013441
3571,71,3571,0,1499541283886485507,Fri Mar 04 00:24:36 +0000 2022,NaN,768215814520524801,"As a team, MHS Academic Decathlon came away fr...",[],Twitter for iPhone,en,"As a team, MHS Academic Decathlon came away fr...",positive,0.839740,0.160260
3572,72,3572,0,1499538730570465284,Fri Mar 04 00:14:28 +0000 2022,NaN,1488628891916849156,33239. \nTriathlon n. Athletic contest of thr...,[],botjeelaa,en,33239. \nTriathlon n. Athletic contest of thr...,positive,0.856551,0.143449
3573,73,3573,0,1499535761992994828,Fri Mar 04 00:02:40 +0000 2022,NaN,2784925482,1. Fox\n2. Gretzky\n3. Sinclair\n4. Hughes\n5....,[],Twitter for Android,en,1. Fox\n2. Gretzky\n3. Sinclair\n4. Hughes\n5....,positive,0.608663,0.391337

In [12]:
# Add cluster to the main dataset
chosen_cluster = 'shc_clusters'
df_cluster[chosen_cluster]

df = pd.merge(df, df_cluster[['id', chosen_cluster]], left_on='author_id', right_on='id', how='left', suffixes=['','_cluster'])
df[chosen_cluster] = df[chosen_cluster].fillna(df[chosen_cluster].max()+1)
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,id,created_at,in_reply_to_user_id,author_id,text,mentions,source,lang,text_clean,Sentiment,Positive_sentiment,Negative_sentiment,id_cluster,shc_clusters
0,0,0,0,1503882954375929866,Tue Mar 15 23:56:51 +0000 2022,NaN,612834201,RT @WrocWW: @AnonOpsSE I found few words to #L...,"['WrocWW', 'AnonOpsSE']",Twitter Web App,en,@WrocWW: @AnonOpsSE I found few words to #Lero...,negative,0.009751,0.990249,NaN,7.0
1,1,1,0,1503882686380879877,Tue Mar 15 23:55:47 +0000 2022,NaN,612834201,"RT @Ro_manoff: @tashecon Also, please pay atte...","['Ro_manoff', 'tashecon']",Twitter Web App,en,"@Ro_manoff: @tashecon Also, please pay attenti...",positive,0.979445,0.020555,NaN,7.0
2,2,2,0,1503881899328032771,Tue Mar 15 23:52:40 +0000 2022,NaN,4174651769,RT @NoButYeahBut_: #BoycottDecathlon!!!\n#Deca...,['NoButYeahBut_'],Twitter for Android,en,@NoButYeahBut_: #BoycottDecathlon!!!\n#Decathl...,negative,0.011850,0.988150,NaN,7.0
3,3,3,0,1503880374874607620,Tue Mar 15 23:46:36 +0000 2022,126267113.0,51585491,@Decathlon @DecathlonUK why are you still doin...,"['Decathlon', 'DecathlonUK']",Twitter for iPhone,en,@Decathlon @DecathlonUK why are you still doin...,negative,0.009619,0.990381,NaN,7.0
4,4,4,0,1503880275318775809,Tue Mar 15 23:46:13 +0000 2022,NaN,4174651769,"RT @TrudeauMaggie: Auchan, Leroy Merlin, Decat...",['TrudeauMaggie'],Twitter for Android,en,"@TrudeauMaggie: Auchan, Leroy Merlin, Decathlo...",negative,0.088386,0.911614,NaN,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3601,69,3569,0,1499543192596725760,Fri Mar 04 00:32:11 +0000 2022,NaN,360737613,RT @BoosterVista: Kudos to the MVHS Academic D...,['BoosterVista'],Twitter for iPhone,en,@BoosterVista: Kudos to the MVHS Academic Deca...,positive,0.953905,0.046095,3.607376e+08,3.0
3602,70,3570,0,1499541366673747971,Fri Mar 04 00:24:56 +0000 2022,NaN,3316370737,"RT @jwilliams_mhs: As a team, MHS Academic Dec...",['jwilliams_mhs'],Twitter for iPhone,en,"@jwilliams_mhs: As a team, MHS Academic Decath...",positive,0.986559,0.013441,NaN,7.0
3603,71,3571,0,1499541283886485507,Fri Mar 04 00:24:36 +0000 2022,NaN,768215814520524801,"As a team, MHS Academic Decathlon came away fr...",[],Twitter for iPhone,en,"As a team, MHS Academic Decathlon came away fr...",positive,0.839740,0.160260,NaN,7.0
3604,72,3572,0,1499538730570465284,Fri Mar 04 00:14:28 +0000 2022,NaN,1488628891916849156,33239. \nTriathlon n. Athletic contest of thr...,[],botjeelaa,en,33239. \nTriathlon n. Athletic contest of thr...,positive,0.856551,0.143449,NaN,7.0
3605,73,3573,0,1499535761992994828,Fri Mar 04 00:02:40 +0000 2022,NaN,2784925482,1. Fox\n2. Gretzky\n3. Sinclair\n4. Hughes\n5....,[],Twitter for Android,en,1. Fox\n2. Gretzky\n3. Sinclair\n4. Hughes\n5....,positive,0.608663,0.391337,2.784925e+09,4.0

In [13]:
# Generate function to count words
def word_count(woc):
    return Counter(woc.split())

In [14]:
# Create function to generate clean date
def clean_date(date):
    return date.rsplit(' ',3)[0]

In [15]:
# Data stagging for visualisation
df_woc = df[['Sentiment', 'created_at', 'text_clean', chosen_cluster]]
df_woc['created_at_group'] = df_woc.apply(lambda x: clean_date(x.created_at), axis=1)
df_woc['text'] = df_woc[['Sentiment','text_clean','created_at_group', chosen_cluster]].groupby(['Sentiment', 'created_at_group', chosen_cluster])['text_clean'].transform(lambda x: ' '.join(x))
df_woc = df_woc[['Sentiment', 'created_at_group', 'text', chosen_cluster]].drop_duplicates()
df_woc

/var/folders/h0/vgjkl_895611pw1tzh74wq280000gn/T/ipykernel_6430/3918971163.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_woc['created_at_group'] = df_woc.apply(lambda x: clean_date(x.created_at), axis=1)
/var/folders/h0/vgjkl_895611pw1tzh74wq280000gn/T/ipykernel_6430/3918971163.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_woc['text'] = df_woc[['Sentiment','text_clean','created_at_group', chosen_cluster]].groupby(['Sentiment', 'created_at_group', chosen_cluster])['text_clean'].transform(lambda x: ' '.join(x))

,Sentiment,created_at_group,text,shc_clusters
0,negative,Tue Mar 15,@WrocWW: @AnonOpsSE I found few words to #Lero...,7.0
1,positive,Tue Mar 15,"@Ro_manoff: @tashecon Also, please pay attenti...",7.0
14,positive,Tue Mar 15,"@squad3o3 @YourAnonNews Auchan, Leroy Merlin, ...",3.0
18,negative,Tue Mar 15,@squad3o3 @YourAnonNews Hello @leroymerlinfr @...,4.0
25,negative,Tue Mar 15,@oihantxabarri Decathlon? @oihantxabarri Decat...,5.0
...,...,...,...,...
3408,positive,Fri Mar 04,"@Fablepongiste Hello Fabien, thank you for you...",0.0
3490,neutral,Fri Mar 04,@BodogCA @DamianWarner need to be on this list...,1.0
3528,negative,Fri Mar 04,Perry High School Decathlon Team Heads To Maso...,1.0
3540,positive,Fri Mar 04,@Decathlon_India Presently bought an H&amp;M j...,6.0
3605,positive,Fri Mar 04,1. Fox\n2. Gretzky\n3. Sinclair\n4. Hughes\n5....,4.0

In [16]:
# Count word on text
df_woc['woc'] = df_woc.apply(lambda x: word_count(x.text), axis=1)
df_woc

,Sentiment,created_at_group,text,shc_clusters,woc
0,negative,Tue Mar 15,@WrocWW: @AnonOpsSE I found few words to #Lero...,7.0,"{'@WrocWW:': 2, '@AnonOpsSE': 2, 'I': 54, 'fou..."
1,positive,Tue Mar 15,"@Ro_manoff: @tashecon Also, please pay attenti...",7.0,"{'@Ro_manoff:': 8, '@tashecon': 8, 'Also,': 8,..."
14,positive,Tue Mar 15,"@squad3o3 @YourAnonNews Auchan, Leroy Merlin, ...",3.0,"{'@squad3o3': 2, '@YourAnonNews': 2, 'Auchan,'..."
18,negative,Tue Mar 15,@squad3o3 @YourAnonNews Hello @leroymerlinfr @...,4.0,"{'@squad3o3': 2, '@YourAnonNews': 2, 'Hello': ..."
25,negative,Tue Mar 15,@oihantxabarri Decathlon? @oihantxabarri Decat...,5.0,"{'@oihantxabarri': 2, 'Decathlon?': 3, '#Boyco..."
...,...,...,...,...,...
3408,positive,Fri Mar 04,"@Fablepongiste Hello Fabien, thank you for you...",0.0,"{'@Fablepongiste': 2, 'Hello': 2, 'Fabien,': 2..."
3490,neutral,Fri Mar 04,@BodogCA @DamianWarner need to be on this list...,1.0,"{'@BodogCA': 1, '@DamianWarner': 1, 'need': 1,..."
3528,negative,Fri Mar 04,Perry High School Decathlon Team Heads To Maso...,1.0,"{'Perry': 1, 'High': 1, 'School': 1, 'Decathlo..."
3540,positive,Fri Mar 04,@Decathlon_India Presently bought an H&amp;M j...,6.0,"{'@Decathlon_India': 1, 'Presently': 1, 'bough..."
3605,positive,Fri Mar 04,1. Fox\n2. Gretzky\n3. Sinclair\n4. Hughes\n5....,4.0,"{'1.': 1, 'Fox': 1, '2.': 1, 'Gretzky': 1, '3...."

In [18]:
# Create function that generate word count for a day
def woc_to_dataframe(woc, date, sentiment, cluster):
    words_ = []
    counts_ = []
    dates_ = []
    sentiments_ = []
    clusters_ = []
    for key in woc.keys():
        words_.append(key)
        counts_.append(woc[key])
        dates_.append(date)
        sentiments_.append(sentiment)
        clusters_.append(cluster)
    result = {
        'date': dates_,
        'word': words_,
        'count': counts_,
        'sentiment': sentiments_,
        'cluster': clusters_
    }
    
    return pd.DataFrame(result)

In [20]:
# Transform the WordCount to dataframe
df_result = pd.DataFrame()

for index_ in range(0, len(df_woc)):
    df_new = woc_to_dataframe(df_woc.iloc[index_]['woc'],df_woc.iloc[index_]['created_at_group'], df_woc.iloc[index_]['Sentiment'], df_woc.iloc[index_][chosen_cluster])
    df_result = pd.concat([df_result, df_new])
    
df_result

          date                     word  count sentiment  cluster
0   Tue Mar 15                 @WrocWW:      2  negative      7.0
1   Tue Mar 15               @AnonOpsSE      2  negative      7.0
2   Tue Mar 15                        I     54  negative      7.0
3   Tue Mar 15                    found      5  negative      7.0
4   Tue Mar 15                      few      2  negative      7.0
..         ...                      ...    ...       ...      ...
17  Fri Mar 04                       9.      1  positive      4.0
18  Fri Mar 04                  Donovan      1  positive      4.0
19  Fri Mar 04                   Bailey      1  positive      4.0
20  Fri Mar 04                     10.…      1  positive      4.0
21  Fri Mar 04  https://t.co/DhBMcpz2Ir      1  positive      4.0

[26957 rows x 5 columns]

In [21]:
# Export wordcloud
df_result.to_csv('word_cloud.csv')